<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$title}列表</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
</head>
<style>
    .jumpto input {
        height: 31px;
        width: 50px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
        display: inline-block;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{$title}列表</h5>
        </div>
        <div class="ibox-content">
            <div class="form-group clearfix col-sm-2">
                {if authCheck('email/create') }
                <a href="{:url('email/create')}">
                    <button class="btn btn-outline btn-primary" type="button">添加{$title}</button>
                </a>
                {/if}
                {if authCheck('email/import_email') }
                <a href="{:url('email/import_email')}">
                    <button class="btn btn-outline btn-success" type="button">导入{$title}</button>
                </a>
                {/if}
                {if authCheck('email/switch_status')}
                <form role="form" method="post" class="form-inline pull-left" style="margin-top: 5px">
                    <div class="content clearfix m-b">
                        <div class="form-group">
                            <button class="btn btn-w-m btn-danger" type="button" id="switch_status">
                                <strong>切换使用状态</strong>
                            </button>
                        </div>
                    </div>
                </form>
                {/if}
            </div>
            <!--搜索框开始-->
            <form id='commentForm' role="form" method="post" class="form-inline pull-right">
                <div class="content clearfix m-b">
                    <div class="form-group">
                        <input placeholder="开始时间" class="form-control layer-date" id="start_time" name="start_time">
                        <input placeholder="结束时间" class="form-control layer-date" id="end_time" name="end_time">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="邮箱名称" class="form-control" id="email_name" name="email_name">
                    </div>
                    <div class="form-group">
                        <select type="text" class="form-control" id="use_status" name="use_status">
                            <option value="">使用状态</option>
                            <option value="0">未使用</option>
                            <option value="1">已使用</option>
                            <option value="2">停止使用</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select type="text" class="form-control" id="reg_status" name="reg_status">
                            <option value="">注册状态</option>
                            <option value="0">失 败</option>
                            <option value="1">成 功</option>
                            <option value="2">未注册</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select type="text" class="form-control" id="is_get" name="is_gets">
                            <option value="">导出状态</option>
                            <option value="0">未导出</option>
                            <option value="1">已导出</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="button" style="margin-top:5px" id="search">
                            <strong>搜索</strong>
                        </button>
                    </div>
                </div>
            </form>
            <!--搜索框结束-->
            <div class="example-wrap">
                <div class="example">
                    <table id="cusTable" data-show-jumpto="true">
                        <thead>
                        <th data-field="box_id" data-checkbox="true"></th>
                        <th data-field="id">ID</th>
                        <!--<th data-field="machine_id">机器编号</th>-->
                        <th data-field="email_name">邮箱名称</th>
                        <th data-field="email_password">邮箱密码</th>
                        <th data-field="is_get">导出状态</th>
                        <th data-field="use_status">使用状态</th>
                        <th data-field="reg_status">注册状态</th>
                        <th data-field="fail_msg">失败原因</th>
                        <th data-field="imapsvr">IMAP</th>
                        <th data-field="pop3svr">接收服务器</th>
                        <th data-field="smtpsvr">发送服务器</th>
                        <th data-field="create_time">创建时间</th>
                        <th data-field="update_time">更新时间</th>
                        <th data-field="operate">操作</th>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table-jumpto.js"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<!--<script src="__JS__/plugins/suggest/bootstrap-suggest.min.js"></script>-->
<script src="__JS__/plugins/layer/laydate/laydate.js"></script>
<!--<script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>-->
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script type="text/javascript">
    function initTable() {
        //先销毁表格
        $('#cusTable').bootstrapTable('destroy');
        //初始化表格,动态从服务器加载数据
        $("#cusTable").bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "./index", //获取数据的地址
            striped: true,  //表格显示条纹
            pagination: true, //启动分页
            pageSize: 10,  //每页显示的记录数
            pageNumber: 1, //当前第几页
            pageList: [5, 10, 15, 20, 25],  //记录数可选列表
            sidePagination: "server", //表示服务端请求
            search: false,
            singleSelect: false,
            paginationFirstText: "首页",
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            paginationLastText: "尾页",
            queryParamsType: "undefined",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    searchText: $('#email_name').val(),
                    start_time: $('#start_time').val(),
                    end_time: $('#end_time').val(),
                    use_status: $('#use_status').val(),
                    reg_status: $('#reg_status').val(),
                    is_get: $('#is_get').val(),
                };
                return param;
            },
            onLoadSuccess: function (res) {  //加载成功时执行
                if (111 == res.code) {
                    window.location.reload();
                }
                layer.msg("加载成功", {time: 1000});
            },
            onLoadError: function () {  //加载失败时执行
                layer.msg("加载数据失败");
            }
        });
    }

    $(document).ready(function () {
        //调用函数，初始化表格
        initTable();

        //当点击查询按钮的时候执行
        $("#search").bind("click", initTable);
    });

    // 切换选中邮箱状态
    $switch_status = $('#switch_status');
    var $table = $('#cusTable');
    $(function () {
        $switch_status.click(function () {
            if ($table.bootstrapTable('getAllSelections').length == 0) {
                layer.alert('请勾选邮箱', {title: '友情提示', icon: 2});
                return;
            }
            layer.confirm('确认切换邮箱状态', {icon: 3, title: '提示'}, function (index) {
                //do something
                var email = $table.bootstrapTable('getAllSelections');
                var email_id = [];
                for (var i = 0; i < email.length; i++) {
                    email_id[i] = email[i]['id'];
                }
                $.getJSON("{:url('email/switch_status')}", {
                    'email_id': email_id
                }, function (res) {
                    if (1 == res.code) {
                        layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function () {
                            initTable();
                        });
                    } else if (111 == res.code) {
                        window.location.reload();
                    } else {
                        layer.alert(res.msg, {title: '友情提示', icon: 2});
                    }
                });

                layer.close(index);
            })
        });
    });

    function switch_status(id, use_status = '') {
        layer.confirm('确认切换状态?', {icon: 3, title: '提示'}, function (index) {
            //do something
            $.getJSON("{:url('email/switch_status')}", {'email_id': id, 'use_status': use_status}, function (res) {
                if (1 == res.code) {
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function () {
                        initTable();
                    });
                } else if (111 == res.code) {
                    window.location.reload();
                } else {
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });

            layer.close(index);
        })

    }

    function emailDel(id) {
        layer.confirm('确认删除此邮箱?', {icon: 3, title: '提示'}, function (index) {
            //do something
            $.getJSON("{:url('email/delete')}", {'id': id}, function (res) {
                if (1 == res.code) {
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function () {
                        initTable();
                    });
                } else if (111 == res.code) {
                    window.location.reload();
                } else {
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });

            layer.close(index);
        })

    }

    laydate.render({
        elem: "#start_time"
        , type: 'datetime'
    });
    laydate.render({
        elem: "#end_time"
        , type: 'datetime'
    });
</script>
</body>
</html>
