<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$title}列表</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
</head>
<style>
    .jumpto input {
        height: 31px;
        width: 50px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
        display: inline-block;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{$title}列表</h5>
        </div>
        <div class="ibox-content">
            <!--<div class="form-inline pull-left" style="border: 1px solid #d9d9d9;padding: 1%; width: 100%;">
                <div class="form-group">
                    任务总数:
                    <input class="form-control layer-date" readonly="readonly" id="job_count" name="job_count" value="">
                </div>
                <div class="form-group">
                    成功总数:
                    <input class="form-control layer-date" readonly="readonly" id="success_job_count"
                           name="success_job_count" value="">
                </div>
                <div class="form-group">
                    失败总数:
                    <input class="form-control layer-date" readonly="readonly" id="failed_job_count"
                           name="failed_job_count" value="">
                </div>
            </div>-->
            <div class="form-group clearfix">
                <div class="form-group clearfix col-sm-3" style="margin-top: 1rem;">
                    {if authCheck('smsPhone/switch_status')}
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle" aria-expanded="false">操作
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="left: 0">
                            <li>
                                <a href="javascript:" onclick="switch_choice_status(0)">空闲</a>
                            </li>
                            <li>
                                <a href="javascript:" onclick="switch_choice_status(1)">接码中</a>
                            </li>
                            <li>
                                <a href="javascript:" onclick="switch_choice_status(2)">设备异常</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:" onclick="SmsPhoneDelMore()">删除</a>
                            </li>
                        </ul>
                    </div>
                    {/if}
                </div>
                <div class="form-group clearfix col-sm-3" style="float: right;margin-top: 1rem;">
                    {if authCheck('smsPhone/create') }
                    <a href="{:url('sms_phone/create')}">
                        <button class="btn btn-outline btn-primary" type="button">添加{$title}</button>
                    </a>
                    {/if}
                    {if authCheck('smsPhone/import') }
                    <a href="{:url('smsPhone/import')}">
                        <button class="btn btn-outline btn-success" type="button">导入{$title}</button>
                    </a>
                    {/if}
                </div>
            </div>
            <!--搜索框开始-->
            <form id='commentForm' role="form" method="post"  action="{:url('sms_phone/download_excel')}" class="form-inline col-sm-12 pull-right">
                <div class="content clearfix m-b pull-right">
                    <div class="form-group">
                        <input placeholder="开始时间" class="form-control layer-date" id="start_time" name="start_time"
                               autocomplete="off">
                        <input placeholder="结束时间" class="form-control layer-date" id="end_time" name="end_time"
                               autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="手机编号" class="form-control" id="device_num" name="device_num">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="手机号" class="form-control" id="phone_num" name="phone_num">
                    </div>
                    <div class="form-group">
                        <select type="text" class="form-control" id="status" name="status">
                            <option value="">状态</option>
                            <option value="0">空闲</option>
                            <option value="1">接码中</option>
                            <option value="2">设备异常</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select type="text" class="form-control" id="time_field" name="time_field">
                            <option value="">时间字段</option>
                            <option value="1">创建时间</option>
                            <option value="2">更新时间</option>
                        </select>
                    </div>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle" aria-expanded="false"
                                style="margin: 0;">操作
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="left: 0">
                            <li>
                                <a href="javascript:" onclick="switch_by_search(0)">未运行</a>
                            </li>
                            <li>
                                <a href="javascript:" onclick="switch_by_search(1)">正在运行</a>
                            </li>
                            <li>
                                <a href="javascript:" onclick="switch_by_search(2)">设备异常</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:" onclick="delete_by_search()">删除</a>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-info" type="button" onclick="downLodeExcel()" style="margin-top:5px"
                               id="downLodeInfo" value="导出">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="button" style="margin-top:5px" id="search">
                            <strong>搜索</strong>
                        </button>
                    </div>
                </div>
            </form>
            <!--搜索框结束-->
            <div class="example-wrap">
                <div class="example">
                    <table id="cusTable" data-show-jumpto="true">
                        <thead>
                        <th data-field="box_id" data-checkbox="true"></th>
                        <th data-field="id">ID</th>
                        <th data-field="device_num">手机编号</th>
                        <th data-field="phone_num">手机号</th>
                        <th data-field="phone_sn">手机SN</th>
                        <th data-field="remarks">备注</th>
                        <th data-field="status">状态</th>
                        <th data-field="get_phone_count">请求号码数</th>
                        <th data-field="get_sms_count">获取短信数</th>
                        <th data-field="received_sms_count">总接收短信数</th>
                        <th data-field="success_sms_count">成功接收短信数</th>
                        <th data-field="fail_sms_count">失败接收短信数</th>
                        <th data-field="last_get_time">最后获取时间</th>
                        <th data-field="create_time">创建时间</th>
                        <th data-field="update_time">更新时间</th>
                        <th data-field="operate">操作</th>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table-jumpto.js"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="__JS__/plugins/layer-new/layer.min.js"></script>
<script src="__JS__/plugins/layer-new/laydate/laydate.js"></script>
<!--<script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>-->
<script type="text/javascript">
    function initTable() {
        //先销毁表格
        $('#cusTable').bootstrapTable('destroy');
        //初始化表格,动态从服务器加载数据
        $("#cusTable").bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "./index", //获取数据的地址
            striped: true,  //表格显示条纹
            pagination: true, //启动分页
            pageSize: 10,  //每页显示的记录数
            pageNumber: 1, //当前第几页
            pageList: [5, 10, 15, 20, 25],  //记录数可选列表
            sidePagination: "server", //表示服务端请求
            paginationFirstText: "首页",
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            paginationLastText: "尾页",
            queryParamsType: "undefined",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    start_time: $('#start_time').val(),
                    end_time: $('#end_time').val(),
                    status: $('#status').val(),
                    phone_num: $('#phone_num').val(),
                    device_num: $('#device_num').val(),
                    time_field: $('#time_field').val(),
                };
                return param;
            },
            onLoadSuccess: function (res) {  //加载成功时执行
                if (111 == res.code) {
                    window.location.reload();
                }
                /*// 设置统计参数
                $('#job_count').val(res.count.job_count + '次');
                $('#success_job_count').val(res.count.success_job_count + '次');
                $('#failed_job_count').val(res.count.failed_job_count + '次');*/
                layer.msg("加载成功", {time: 1000});
            },
            onLoadError: function () {  //加载失败时执行
                layer.msg("加载数据失败");
            }
        });
    }

    // 初始化页面
    $(document).ready(function () {
        //调用函数，初始化表格
        initTable();

        //当点击查询按钮的时候执行
        $("#search").bind("click", initTable);
    });

    let $table = $('#cusTable');

    // 切换选中设备状态
    function switch_choice_status(change_status = '') {
        if ($table.bootstrapTable('getAllSelections').length == 0) {
            layer.alert('请勾选设备', {title: '友情提示', icon: 2});
            return;
        }
        layer.confirm('确认切换设备状态', {icon: 3, title: '提示'}, function (index) {
            //do something
            let sms_phone = $table.bootstrapTable('getAllSelections');
            let sms_phone_id = [];
            for (let i = 0; i < sms_phone.length; i++) {
                sms_phone_id[i] = sms_phone[i]['id'];
            }
            $.getJSON("{:url('sms_phone/switch_status')}", {
                'id': sms_phone_id, 'change_status': change_status
            }, function (res) {
                if (1 == res.code) {
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function () {
                        initTable();
                    });
                } else if (111 == res.code) {
                    window.location.reload();
                } else {
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });

            layer.close(index);
        })
    }

    // 导出数据
    function downLodeExcel() {
        layer.prompt({title: '请输入导出数量,为空导出全部', formType: 0, allowBlank: true,}, function (pass, index) {
                console.log(pass);
                // 判断是否为正整数
                if (pass && !(/(^[1-9]\d*$)/.test(pass))) {
                    layer.msg("请输入正整数");
                    return;
                }
                // 设置行数
                $('#rows').val(pass);
                let form = document.getElementById('commentForm');
                form.submit();
                layer.close(index);

            }
        )
        ;
    }

    // 删除选中设备
    function SmsPhoneDelMore() {
        if ($table.bootstrapTable('getAllSelections').length == 0) {
            layer.alert('请勾选设备', {title: '友情提示', icon: 2});
            return;
        }
        layer.confirm('确认删除设备', {icon: 3, title: '提示'}, function (index) {
            //do something
            let sms_phone = $table.bootstrapTable('getAllSelections');
            let sms_phone_id = [];
            for (let i = 0; i < sms_phone.length; i++) {
                sms_phone_id[i] = sms_phone[i]['id'];
            }
            $.getJSON("{:url('sms_phone/delete')}", {'ids': sms_phone_id}, function (res) {
                if (1 == res.code) {
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function () {
                        window.location.reload();
                    });
                } else if (111 == res.code) {
                    window.location.reload();
                } else {
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });
            layer.close(index);
        })
    }

    // 切换搜索设备状态
    function switch_by_search(change_status = '') {
        layer.confirm('确认切换搜索设备状态', {icon: 3, title: '提示'}, function (index) {
            // 获取搜索条件
            let start_time = $('#start_time').val();
            let end_time = $('#end_time').val();
            let status = $('#status').val();
            let phone_num = $('#phone_num').val();
            let device_num = $('#device_num').val();


            $.getJSON("{:url('sms_phone/switch_by_search')}", {
                'change_status': change_status
                , 'start_time': start_time
                , 'end_time': end_time
                , 'status': status
                , 'phone_num': phone_num
                , 'device_num': device_num
            }, function (res) {
                if (1 == res.code) {
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function () {
                        initTable()
                    });
                } else if (111 == res.code) {
                    window.location.reload();
                } else {
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });

            layer.close(index);
        })
    }

    // 删除搜索设备
    function delete_by_search() {
        layer.confirm('确认删除搜索设备', {icon: 3, title: '提示'}, function (index) {
            // 获取搜索条件
            let start_time = $('#start_time').val();
            let end_time = $('#end_time').val();
            let status = $('#status').val();
            let phone_num = $('#phone_num').val();
            let device_num = $('#device_num').val();


            $.getJSON("{:url('sms_phone/delete_by_search')}", {
                'start_time': start_time
                , 'end_time': end_time
                , 'status': status
                , 'phone_num': phone_num
                , 'device_num': device_num
            }, function (res) {
                if (1 == res.code) {
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function () {
                        window.location.reload();
                    });
                } else if (111 == res.code) {
                    window.location.reload();
                } else {
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });
            layer.close(index);
        })
    }


    function switch_status(id, status) {
        layer.confirm('确认切换状态?', {icon: 3, title: '提示'}, function (index) {
            //do something
            $.getJSON("{:url('sms_phone/switch_status')}", {'id': id, 'status': status}, function (res) {
                if (1 == res.code) {
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function () {
                        initTable();
                    });
                } else if (111 == res.code) {
                    window.location.reload();
                } else {
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });

            layer.close(index);
        })

    }


    // 根据id 删除
    function sms_phoneDel(id) {
        layer.confirm('确认删除此设备?', {icon: 3, title: '提示'}, function (index) {
            //do something
            $.getJSON("{:url('sms_phone/delete')}", {'id': id}, function (res) {
                if (1 == res.code) {
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function () {
                        initTable();
                    });
                } else if (111 == res.code) {
                    window.location.reload();
                } else {
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });

            layer.close(index);
        })

    }

    // 时间控件
    laydate.render({
        elem: "#start_time"
        , type: 'datetime'
    });
    laydate.render({
        elem: "#end_time"
        , type: 'datetime'
    });
</script>
</body>
</html>
